{% extends 'layout.html' %}
{% block editProfile %}

<br>
<div class="container">
  <br>
<form class="container" action = "/editProfile/" method = "POST">
  <div class="form-row">
    <div class="col">
      <input type="text" name="name" class="form-control" placeholder="Login Name">
    </div>  
  </div>
<br>
  <div class="form-row">
    <div class="col">
      <input type="text" name="pass" class="form-control" placeholder="Password">
    </div>
  </div>
<br>
  <div class="form-row">
    <div class="col">
      <input type="text"  class="form-control" placeholder="Re-Enter Password">
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
  <table class="table table-hover">

    <thead>
      <tr><h3>Login Details:</h3></tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name:</th>
            <th scope="col">Password:</th>
            <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>

        {% for coll in rec %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>
          <a href="http://192.168.1.74:5000/mongoRec/{{coll}}" class="badge badge-light">{{ coll[1]}}</a>
          <!-- <a href="http://192.168.1.74/mongoRec/{{collections}}">{{collections}}</a> -->
        </td>
        <td>
          <a href="http://192.168.1.74:5000/mongoRec/{{coll}}" class="badge badge-light">{{ coll[2]}}</a>
          <!-- <a href="http://192.168.1.74/mongoRec/{{collections}}">{{collections}}</a> -->
        </td>
        <td><a href="http://192.168.1.74:5000/delProfile/{{coll[0]}}" class="badge badge-danger">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>






</div>
<br>

{% endblock %}