{% extends 'layout.html' %}
{% block mqttconsol %}










<br><br>
<div class="container">
  <div class="row">
    <div class="col">
  <div class="form-group container">
    <label for="exampleFormControlTextarea1">MQTT Console</label>
    <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="15">
{{data}}
    </textarea>
  </div>



    </div>
    <div class="col">
  <div class="form-group container">
    <label for="exampleFormControlTextarea1">HTTP Console</label>
    <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="15">
 
    </textarea>
  </div>



    </div>
  </div>
</div>
{% endblock %}