{% extends 'layout.html' %}
{% block wifi %}

<br>
<div class="container">


<br>
  <table class="table table-hover">

    <thead>
      <tr><h3>WIFI Details:</h3></tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SR No:</th>
            <th scope="col">MAC:</th>
            <th scope="col">TIME</th>
            <th scope="col">RSSI</th>
            <th scope="col">DEL</th>
        </tr>
      </thead>
      <tbody>

      <tr>

        <th scope="row">01</th>
        <td>

          <p class="badge badge-light">00000001</p>
        </td>
        <td>
          <p class="badge badge-light">7294:23:34:23:34"</p>
        </td>
        <td>
          <p class="badge badge-light">03:45:09</p>
        </td>
        <td>
          <p class="badge badge-light">-87</p>
        </td>
        <td><a href="#" class="badge badge-danger">Delete</a></td>
      </tr>

    </tbody>
  </table>






</div>
<br>

{% endblock %}